// front-citogenetica/src/assets/styles/_variables.scss
$primary-color: #0062ae;
$secondary-color: #488bbf;
$text-color: #333;
$background-color: #fff;
$light-gray: #f2f2f2;
$medium-gray: #aeaeae;
$dark-gray: #6e6e6e;

$font-family: "Roboto", sans-serif;
